<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>

<form action="reg/" method="post">
    <label>姓名
        <input type="text" name="name">
    </label>
    <hr>
    性别
    <input id="gender_boy" type="radio" name="gender" value="1">
    <label for="gender_boy">:男</label>

    <input id="gender_girl" type="radio" name="gender" value="0">
    <label for="gender_girl">:女</label>
    <hr>

    <label for="i_age">年龄</label>
    <input id="i_age" type="text" name="age">
    <hr>

    爱好
    <br>
    <input id="i_power" type="checkbox" name="hobby" value="权利">
    <label for="i_power">权利</label>
    <input id="i_money" type="checkbox" name="hobby" value="金钱">
    <label for="i_money">金钱</label>
    <br>
    <br>
    <input type="submit" value="注册">

</form>

</body>
</html>